ul {
  list-style: none;
}

.button {
  color: #faf4ea;
  background-color: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: #465929;
}

.link {
  color: #faf4ea;
}

.link:hover {
  color: #819b57;
}
